@page
@model bestbrightness.Pages.Products.ProductsModel
@{
    // allowed .cs code
}

<br>
<h2>List of available products</h2>
<a class='btn btn-primary btn-sm' href='/Products/Create'>Add Product</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Item</th>
            <th>Category</th>
            <th>Price</th>
            <th>Review</th>
            <th>Created_At</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ter in Model.listProducts)
        {
            <tr>
                <td>@ter.id</td>
                <td>@ter.item</td>
                <td>@ter.category</td>
                <td>@ter.price</td>
                <td>@ter.review</td>
                <td>@ter.created_at</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Edit?id=@ter.id">Edit</a>
                    <a class="btn btn-primary btn-sm" href="/Delete?id=@ter.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
